wcfusingmvc/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceapp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceapp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfperson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="person" nillable="true" type="tns:person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfperson" nillable="true" type="tns:ArrayOfperson" />
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="person" nillable="true" type="tns:person" />
</xs:schema>